@use '../../../styles/abstracts' as ds;

.header {
    width: 100%;
    background-color: var(--color-background-primary);
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: ds.$space-4 ds.$space-6;
}

.header__brand {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.header__logo {
    display: block;
    width: ds.calculateRem(36px);
    height: ds.calculateRem(36px);
    object-fit: contain;
}

.header__desktop-content {
    display: none;
}

.header__menu-button {
    @include ds.focus-visible;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: ds.$touch-target-min;
    height: ds.$touch-target-min;
    padding: 0;
    background-color: transparent;
    color: var(--color-icon-primary);
    border: 0;
    cursor: pointer;
}

.header__mobile-menu {
    display: flex;
    flex-direction: column;
    gap: ds.$space-6;
    width: 100%;
    padding: ds.$space-6;
    background-color: var(--color-background-primary);
}

.header__mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: ds.$space-2;
}

.header__mobile-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: ds.$space-8;
}

@include ds.tablet {
    .header__top {
        padding: ds.$space-8 ds.$space-6;

    }

    .header__desktop-content {
        display: flex;
        align-items: center;
        gap: ds.$space-16;
    }

    .header__desktop-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: ds.$space-8;
    }

    .header__desktop-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: ds.$space-4;
    }

    .header__menu-button,
    .header__mobile-menu {
        display: none;
    }
}