@use '../../../styles/abstracts' as ds;

.tag {
    @include ds.typography(
        ds.$font-family-body,
        ds.$font-size-sm,
        ds.$font-weight-medium,
    );
    height: ds.$tag-height-sm;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 ds.$space-3;
    border-radius: ds.$radius-full;
}

.tag--neutral {
    background-color: var(--color-tag-neutral-background);
    color: var(--color-tag-neutral-text);
}

.tag--green {
    background-color: var(--color-tag-green-background);
    color: var(--color-tag-green-text);
}

.tag--blue {
    background-color: var(--color-tag-blue-background);
    color: var(--color-tag-blue-text);
}

.tag--orange {
    background-color: var(--color-tag-orange-background);
    color: var(--color-tag-orange-text);
}

@include ds.desktop {
    .tag {
        height: ds.$tag-height-md;
        font-size: ds.$font-size-md;
    }
}